.todo-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    order: 1;
}

.todo-card {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.todo--completed {
    color: red;
    order: 2;
}

.btn-delete-todo {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    border-radius: 10%;
}

.btn-delete-todo:hover, .todo-checkbox:hover, .btn-add-todo:hover {
    cursor: pointer;
}
