.todo-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    order: 1;
}

.todo-card {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    box-shadow: 5px 5px 5px lightgray;
    margin-bottom: 15px;
    padding-top: 8px;
    transition: transform .1s;
    background-color: aliceblue;
}

.todo-card:hover {
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
}

.todo--completed {
    color: red;
    order: 2;
}

.todo-checkbox:hover {
    cursor: pointer;
}

.main-container {
    background-color: beige;
}
