.app-header {
    position: absolute;
    height: 150px;
    width: 80%;
    margin: 0 0 92.19%;
    background: #0F3645;
}

.lekab-logo {
    width: 50%;
    height: 70px;
    align-self: center;
    margin-top: 40px;
}